body {
    background-image: url(../img/Background.png);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin-top: 0%;
}

.profile {
    width: 20%;
    height: 20%;
    border: 5px solid white;
    border-radius: 5%;

}

h1 {
    font-size: 40px;
}

h2 {
    font: 30px;
}

p {
    font-size: 20px;
}

.specialCaseText {
    color: darkred;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    background-color: grey;
}